# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# API Keys
*.key

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar

# VS Code
.vscode/

# Mac
.AppleDouble
.LSOverride

# Temporary files
*.tmp
*.temp

# Jupyter Notebook
.ipynb_checkpoints

# Build
build/
dist/